@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Damion&display=swap);

.App {
  color: white;
  font-family: 'Karla';
}

h1 {
  font-weight: 700;
}

.balancePercentage {
  color: green;
  font-size: 20px;
}

.portfolioChart1 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  text-align: center;
  height: 25em;
}

.portfolioChart2 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 25em;
  overflow-y: scroll;
  white-space: nowrap;
}

.portfolioChart3 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 400px;
  overflow-y: scroll;
  white-space: nowrap;
}

.portfolioChart4 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 400px;
  overflow-y: scroll;
  /* white-space: nowrap; */
}
