@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Damion&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

.App {
  color: white;
  font-family: 'Karla';
}

h1 {
  font-weight: 700;
}

.posBalancePercent {
  color: green;
  font-size: 20px;
}

.negBalancePercent {
  color: red;
  font-size: 20px;
}

.portfolioChart1 {
  padding-top: 50px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  text-align: center;
  height: 15em;
}

.portfolioChartMobile1 {
  padding-top: 50px;
  border-radius: 10px;
  margin-bottom: 2%;
  text-align: center;
  height: 15em;
  width: 100%;
}

.portfolioChart2 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 15em;
  overflow-y: scroll;
  white-space: nowrap;
}

.portfolioChart3 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 20em;
  overflow-y: scroll;
  white-space: nowrap;
}

.portfolioChart4 {
  padding: 20px;
  background-image: linear-gradient(#221f3c, #363e54);
  border-radius: 10px;
  margin-bottom: 2%;
  height: 20em;
  overflow-y: scroll;
  white-space: nowrap;
}

.buy {
  color: green;
}

.sell {
  color: red;
}

.google-btn {
  margin: 25px;
  width: 80%;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}
.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #f8f8f8;
  color: #fff;
  user-select: none;
}

.normal-btn {
  margin: 25px;
  width: auto;
  display: inline-block;
  min-width: auto;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s;
}
.normal-btn .btn-text {
  float: left;
  margin: 11px 14px 11px 14px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}
.normal-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}
.normal-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #f8f8f8;
  color: #fff;
  user-select: none;
}
